**/results
**/ITHACAoutput
**/polyMesh
**/ITHACAoutput*
Working_examples
*.unv
*.eps
*.pvsm
*.o
*.dat
*.bak
*.so
*.exe
*.swp
*log.txt
**/linux**
**/processor*
**/linux*
**/Offline
**/processor*
*.pdf
*.cnpy
*.png
*.dep
*.orig
examples
tutorials_dev
**/StreamTest
**/UtilitiesTest
**/unitTests
*~
*.foam
**/__pycache__
*.npy
