**/ITHACAoutput
**/polyMesh
**/debug
**/ITHACAoutput*
Working_examples
*.bak
*.swp
*.txt
*.o
*.so
*.exe
**/linux**
**/processor*
**/linux*
**/Offline
**/processor*
*.pdf
*.cnpy
*.png
*.dep
*.orig
*.swp
*.bak
examples
tutorials_dev
**/StreamTest
**/UtilitiesTest
*~
*.foam
**/__pycache__
*.npy
*.swp
